<div class="container px-5 px-sm-0">
  <div class="row">
    <div class="col-md-4 side-menu">
      <%= render "info", user: @user %>
    </div>
    <div class="col-md-7 offset-1 pt-5">
      <h5 class="confirm text-center mb-5">本当に退会しますか？</h2>
      <p class="confirm-text text-center mb-5">投稿、他ユーザとのメッセージ、お気に入り機能等が利用できなくなります。<br>退会する場合は、「退会する」をクリックしてください。</h3>
      <div class="text-center mt-4">
        <%= link_to "back", about_path, class: "btn btn-outline-secondary mx-5" %>
        <%= link_to "退会する", user_withdraw_path, method: :patch, "data-confirm" => "退会すると元には戻せません。本当によろしいですか？", class: "btn btn-default btn-sm mx-5" %>
      </div>
    </div>
  </div>
</div>
