<%= form_with(model: [want_clothes, answer], local: false) do |f| %>
  <!--<div class="col-md-11 want-form">-->
    <%= f.text_area :content, placeholder: "こんな服？", class: "form-control" %>
  <!--</div>-->
  <!--<div class="col-md-1">-->
    <%= f.submit "send", class: "btn btn-outline-secondary mt-20" %>
  <!--</div>-->
<% end %>
