<%= form_with(model: [want_item, answer], local: false) do |f| %>
  <div class="row answer-form mb-4">
    <div class="col-md-9 mb-2">
      <%= f.text_area :content, placeholder: "こんな服？", class: "form-control answer-textarea" %>
    </div>
    <div class="col-md-9 mb-3">
      <%= f.file_field :answer_image, class: "form-control-file", accept: "iamge/*" %>
    </div>
    <div class="col-md-2">
      <%= f.submit "send", class: "btn btn-outline-secondary mt-20" %>
    </div>
  </div>
<% end %>
