<% want_clothes.want_answers.each do |answer| %>
  <div class="row mb-3">
    <div class="col-md-9 mb-3 text-right">
      <%= raw Rinku.auto_link(simple_format(h(answer.content)), :all, 'target="_blank"') %>
      
      <% if answer.user == current_user || answer.user.is_admin == true %>
        <%= link_to want_clothe_want_answer_path(want_clothes, answer), method: :delete, remote: true do %>
          <i class="fas fa-trash"></i>
        <% end %>
      <% end %>
    </div>
    
    <div class="col-md-2">
      <%= link_to user_path(answer.user.id) do %>
        <%= image_tag answer.user.get_profile_image(60,60) %>
      <% end %>
    </div>
  </div>
<% end %>