<div class="container px-5 px-sm-0">
  <div class="row justify-content-center">
  <div class="col-md-6">
    <div class="recommend-form">
      <%= render 'form', recommend: @recommend %>
    </div>
  </div>
</div>
