<div class="container px-5 px-sm-0">
  <div class="row">
    <div class="col-md-12 d-flex">
      <!--新規投稿-->
      <% if user_signed_in? %>
        <div class="m-3 pb-3 recommend-item">
          <div class="new-button" data-toggle="modal" data-target="#testModal">
            ♡
          </div>
          <%= render 'form', recommend: @recommend %>
          <p class="text-center">new recommend</p>
        </div>
      <% end %>
      <!--一覧-->
      <%= render 'index', recommends: @recommends %>
    </div>
    <div class="col-md-12">
      test
      test
      test
    </div>
  </div>
</div>