<div class="mx-auto px-5">
  <div class="d-flex flex-wrap">
    <!--新規投稿-->
    <% if user_signed_in? %>
      <div class="m-3 pb-3 recommend-item">
        <div class="new-btn" data-toggle="modal" data-target="#newModal">
          ♡
        </div>
        <div class="modal fade" id="newModal" tabindex="-1" role="dialog" aria-labelledby="basicModal" aria-hidden="true">
          <%= render 'form', recommend: @recommend %>
        </div>
        <p class="text-center">new recommend</p>
      </div>
    <% end %>
    <!--一覧-->
    <%= render 'index', recommends: @recommends %>
  </div>
</div>