$('.message').append("<p style='text-align: right;'><%= @letter.message %><%= image_tag @letter.user.get_profile_image(50,50), class: "mr-2 rounded-circle" %></p>");
$('input[type=text]').val("")
$('input[type=image]').val("")