@use '~bootstrap/scss/bootstrap';
@use '~@fortawesome/fontawesome-free/scss/fontawesome';
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&family=Zen+Kaku+Gothic+Antique&family=Zen+Maru+Gothic&display=swap');

* {
  font-family: 'Montserrat','Zen Maru Gothic', sans-serif;
}

a {
  color: inherit
}

p {
  margin: 0;
}

.fa-pen,
.fa-trash {
  color: #2e2e2e;
  font-size: 15px;
}

.open {
  display: none;
}

.hide {
  cursor: pointer;
}

// header
header {
  position: sticky;
  top: 0;
  z-index: 999;
  background-color: rgba(255, 255, 255, 0.7);
  font-size: 16px;
  letter-spacing: -0.15em;
}

.whole {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

// footer
footer {
  margin-top: auto;
  height: 100px;
  line-height: 100px;
}

// homes#top
.bg{
  position: fixed;
  width: 100%;
  height: 100%;
}
.video{
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  overflow: hidden;
}
.video video{
  position: absolute;
  top: 50%;
  left: 50%;
  object-fit: cover;
  transform: translate(-50%, -50%);
  width: 100%;
  height: 100%;
}
// homes#about
.top-content {
  min-height: 100vh;
}
.swiper {
  width: 600px;
  height: 400px;
}
:root {
  --swiper-navigation-color: #fff;
  --swiper-pagination-color: #fff;
}
.slide {
  width: 600px;
  height: 400px;
}
.top-comment {
  font-size: 14px;
}
.top-wants,
.top-recommends {
  width: 25%;
  font-size: 14px;
}

// mypage
.polaroid {
  justify-content: center;
  position: relative;
  width: 210px;
  padding: 15px;
  padding-bottom: 0;
    -webkit-box-shadow: 3px 3px 3px #777;
    -moz-box-shadow: 3px 3px 3px #777;
  box-shadow: 3px 3px 3px #777;
  border: 1px solid #ccc;
}

.polaroid p {
  text-align: center;
  left: 0;
  line-height: 60px;
  margin: 0;
}

.icon {
  padding: 0 4px;
  width: 25px;
}

.introduction {
  margin: 20px 0;
}

.gear {
  position: absolute;
  top: 12px;
  left: 12px;
  width: 24px;
  opacity: 0.6;
}

.gear:hover {
  opacity: 1;
}
.mypage-menu {
  height: 100vh;
}

// mypage edit
.edit-profile {
  width: 80%;
  max-width: 400px;
}

//letter

// want
.want-form {
  width: 100%;
}

.want-content {
  font-size: 14px;
}

.want-content .fa-trash {
  position: absolute;
  bottom: 0;
  right: 0;
}

.fa-trash:hover,
.fa-pen:hover {
  opacity: 0.6;
}

.want-content .fa-pen {
  position: absolute;
  bottom: 0;
  right: 30px;
}

// recommend
.recommend-item {
  justify-content: center;
  position: relative;
  width: 300px;
  padding: 20px;
    -webkit-box-shadow: 3px 3px 3px #777;
    -moz-box-shadow: 3px 3px 3px #777;
  box-shadow: 3px 3px 3px #777;
  border: 1px solid #ccc;
}

#canvas {
  width: 260px;
  height: 260px;
  line-height: 260px;
  text-align: center;
  cursor:pointer
}

.item p{
  margin-top: 10px;
  font-size: 14px;
}

.item {
  text-align: center;
  padding-bottom: 70px;
}
.recommend-user {
  position: absolute;
  bottom: 20px;
  left: 20px;
  line-height: 50px;
}

.recommend-edit-btn {
  position: absolute;
  bottom: 20px;
  right: 20px;
}