<% rooms.each do |room| %>
  <div class="row">
    <div class="col-4">
      <%= image_tag room.chat_partner(current_user).get_profile_image(60,60), class: "rounded-circle mr-3" %>
    </div>
    <div class="col-8">
      <%= link_to dm_user_path(room.chat_partner(current_user)) do %>
        <h5>
          <strong><%= room.chat_partner(current_user).name %></strong>
        </h5>
        <p>
          <%= room.recent_message(room) %>
        </p>
      <% end %>
    </div>
  </div>
  <hr>
<% end %>