<% if @rooms.present? %>
  <ul>
    <%= @rooms.each do |room| %>
      <li style="non">
        <%= room.user_rooms.user.name %>
      </li>
    <% end %>
  </ul>
<% else %>
  ユーザとのレターはありません
<% end %>